[database]
path = "database/ferris.sqlite3"

[secrets]
# The Discord bot token acquired via the Discord Developer Portal
DISCORD_TOKEN = "<token>"

# ID of the Discord guild that the application will run on
DISCORD_GUILD = ""

# ID of your Discord bot application
APPLICATION_ID = ""

# ID of the Moderator role. Potentially used someday for `?cleanup` command
MOD_ROLE_ID = ""

# ID of the Rustacean role. Used for `?rustify` command
RUSTACEAN_ROLE_ID = ""

# ID of the channel to send modmail to
MODMAIL_CHANNEL_ID = ""

# ID of the channel for audit logging (edit command logs, etc.)
MODLOG_CHANNEL_ID = ""

# The duration to wait before refreshing the godbolt targets list
GODBOLT_UPDATE_DURATION = "1"
